apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
  labels:
    app: webserver-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: webserver
  template:
    metadata:
      labels:
        app: webserver
    spec:
      containers:
      - name:  httpd-container
        image: httpd
        ports:
        - containerPort: 80